.button {
  border-radius: 1.6rem;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  transition: all 0.2s;
  text-wrap: nowrap;

  &:hover {
    opacity: 0.5;
  }

  &.type {
    transition: background-color 0.2s;

    &_primary {
      color: #031a2c;
      background-color: #c0cacc;

      &:hover {
        background-color: #99b2b7;
      }

      &:active {
        background-color: #749ba2;
      }
    }

    &_secondary {
      color: #f7f2ef;
      background-color: #547793;

      &:hover {
        background-color: #2e5677;
      }

      &:active {
        background-color: #1e3e58;
      }
    }

    &:disabled {
      opacity: 0.1;
      cursor: not-allowed;
    }
  }

  &.size {
    &_small {
      font-size: 2.4rem;
      line-height: 2.8rem;

      padding: 2rem 4rem;
    }

    &_big {
      font-size: 2rem;
      line-height: 2.8rem;

      padding: 1.7rem 4rem;
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1640px) {
  .button {
    &.size {
      &_big {
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .button {
    &.size {
      &_big {
        font-size: 2rem;
        line-height: 2.8rem;
  
        padding: 1.7rem 4rem;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .button {
    &.size {
      &_big {
        font-size: 2rem;
        line-height: 2.8rem;

        padding: 1rem 2rem;
      }
    }
  }
}
